{% extends "base.html" %}

{% block title %}Договор-оферта - Business database{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Договор-оферта</h2>
        <p class="text-muted">
<p>Настоящий договор-оферта, далее "Договор", заключается между лицом, владеющим Интернет-магазином&nbsp;&laquo;Business database&raquo;, имеющим адрес в сети Интернет https://businessdb.ru, далее "Интернет-магазин", и пользователем услуг Интернет-магазина, далее "Покупатель", и определяет условия приобретения товаров через Интернет-магазин. Совершая поиск товара, заказ, производя оплату товара в Интернет-магазине &laquo;Business database&raquo;, покупатель соглашается со всеми нижеперечисленными условиями.</p>
<p><strong>Предмет договора</strong></p>
<p>1.1. Продавец обязуется передать в собственность, а Покупатель (любое юридическое или физическое лицо, разместившее заказ на сайте интернет-магазина&nbsp;&laquo;Business database&raquo;) обязуется оплатить и принять заказанные в Интернет-магазине товары (далее Товар).</p>
<p>1.2. Текст данного Договора в совокупности с заказом клиента является публичной офертой (в соответствии со статьей 435 и частью 2 статьи 437 Гражданского кодекса РФ).</p>
<p>1.3. В случае принятия условий настоящего Договора (т.е. публичной оферты Интернет-магазина), гражданин (или юридическое лицо), производящий акцепт оферты, становится Покупателем. Акцептом является факт заказа товара, на условиях настоящего Договора. Факт оформления ЗАКАЗА ТОВАРА у ПРОДАВЦА как самостоятельно, так и через оператора, является безоговорочным принятием данного Договора, и ПОКУПАТЕЛЬ рассматривается как лицо, вступившее с Интернет-магазином в договорные отношения.</p>
<p><strong>Характеристики товара</strong></p>
<p>2.1. Покупатель вправе оформить заказ на любой товар, представленный на Сайте. Каждый товар может быть заказан в любом количестве (при невозможности предоставить заказанное количество товара Интернет-магазин уведомляет Покупателя, что не является нарушением настоящего Договора).</p>
<p>2.2. В случае изменения заводом производителем технических характеристик индивидуального Товара Интернет-магазин уведомляет Покупателя.</p>
<p>2.3. Внешний вид и комплектация Товара (упаковки) могут отличаться от представленных в Интернет-магазине.</p>
<p><strong>Порядок приобретения Товара</strong></p>
<p>3.1. Покупатель после регистрации самостоятельно создает Заказ в Интернет-магазине, выполняя при этом следующие действия:</p>
<p>3.1.1. Наполняет Корзину Товарами, необходимыми для Заказа, выбирая и подтверждая: артикул и производителя Товара; стоимость Товара; срок выполнения Заказа.</p>
<p>3.1.2. Отправляет Товар из Корзины в Заказ.</p>
<p>3.2. Заказ с Интернет-магазина передается в торговую программу Продавца автоматически.</p>
<p>3.3. Датой размещения Заказа считается дата его оформления через Интернет-магазин. Если Заказ был размещен после 09:00, исчисление даты поставки Товара начинается со следующего рабочего дня после даты размещения Заказа.</p>
<p>3.4. Интернет-магазин не несет ответственности за содержание и достоверность информации, предоставленной Покупателем при оформлении заказа.</p>
<p>3.5. Продавец имеет право заменить заказанный Товар, если такая замена явилась следствием замены Товара со стороны официального производителя или уполномоченного продавца производителя Товара.</p>
<p><strong>Цена товара</strong></p>
<p>4.1. Цены в Интернет-магазине указаны в валюте страны Покупателя за единицу Товара.</p>
<p>4.2. Все взаиморасчеты ведутся в рублях РФ.</p>
<p>4.3. Тарифы на оказание услуг по доставке Товара, указаны в Интернет-магазине на каждый Товар в зависимости от его характеристики.</p>
<p>4.4. Общая сумма Заказа, которая в некоторых случаях (по желанию покупателя) может включать платную доставку Товара, указывается в разделе &laquo;Корзина&raquo; в строке &laquo;Итого&raquo;.</p>
<p>4.5. В случае изменения цены Товара, заказанного Покупателем, Интернет-магазин при первой возможности информирует об этом Покупателя (по телефону или посредством электронной почты) для получения подтверждения либо аннулирования Заказа. При невозможности связаться с Покупателем данный Заказ считается аннулированным.</p>
<p><strong>Оплата товара</strong></p>
<p>5.1. При наличной форме оплаты Покупатель обязан уплатить Интернет-магазину цену Товара в момент его передачи, а Интернет-магазин обязан предоставить Покупателю документ, подтверждающий оплату Товара.</p>
<p>5.2. При безналичной форме оплаты обязанность Покупателя по уплате цены Товара считается исполненной с момента зачисления соответствующих денежных средств в размере 100% (ста процентов) предоплаты на расчетный счет Интернет-магазина.</p>
<p>5.3. При безналичной форме оплаты просрочка уплаты Покупателем цены Товара на срок свыше 5 (пяти) дней является существенным нарушением настоящего договора. В этом случае Интернет-магазин вправе в одностороннем порядке отказаться от исполнения настоящего договора (аннулировать Заказ), уведомив об этом Покупателя.</p>
<p>5.4. Товары поставляются Покупателю по ценам, наименованию, в количестве, соответствующем счету, оплаченному Покупателем.</p>
<p><strong>Доставка товара</strong></p>
<p>6.1. Доставка Товара Покупателю осуществляется по адресу и в сроки, согласованные Покупателем и Интернет-магазином при оформлении Заказа, либо Покупатель самостоятельно забирает товар со склада Интернет-магазина по адресу, указанному в разделе Контакты на сайте&nbsp;https://businessdb.ru</p>
<p>6.2. Срок доставки зависит от наличия товара на складе и сроков его поставки контрагентами Интернет-Магазина. Срок доставки не может превышать 40 календарных дней, при условии наличия товара на складе, и не более 60 календарных дней, при заказе товара иностранного контрагента.</p>
<p>6.3. Общий срок доставки может быть увеличен в силу независящих от Интернет-магазина причин, но не более чем на 10 календарных дней.</p>
<p>6.4. В период доставки Товара Интернет-магазином, до его приемки, Покупатель в праве отказаться от заказанного товара.</p>
<p>6.5. Неявка Покупателя или не совершение иных необходимых действий для принятия Товара могут рассматриваться Интернет-магазином в качестве отказа Покупателя от исполнения Договора.</p>
<p>6.6. Покупатель обязан в присутствии курьера Интернет-магазина произвести приемку заказанного товара по количеству, качеству, ассортименту и комплектности товара.</p>
<p>6.7. Фактом приемки Товара Покупателем является оплата Товара.</p>
<p>6.8. В случае выявления качественно-количественных несоответствий, Покупателем совместно с сотрудником Продавца составляется акт с описанием несоответствий.</p>
<p>6.9. Покупатель осуществляет подпись экземпляра документов Продавца и принимает на себя право собственности на Товар.</p>
<p>6.10. После передачи товара рекламации принимаются только в случае обнаружения скрытых дефектов, которые невозможно визуально определить в момент приемки Товара.</p>
<p><strong>Условия возврата товара</strong></p>
<p>7.1.&nbsp;<span style="color: #212529; font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">Возврат цифровых товаров, приобретённых в магазине невозможен, т.к. при покупке курсов или лицензии на программное обеспечение, покупатель приобретает право на использование, которое относится к объектам авторских прав и охраняется, как литературное произведение (ГК РФ, ч.4, ст.1259). Поэтому, возврат товара после получения невозможен.</span></p>
<blockquote><em><span style="color: #212529; font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">Согласно статье 25.1 Закона РФ &laquo;О защите прав потребителей&raquo;, потребитель имеет право отказаться от товара надлежащего качества в течение 14 дней, не считая дня покупки. Однако, данное правило не относится к цифровому контенту, который не может быть возвращен или обменен по причине его особенности.</span></em></blockquote>
<p>7.2.&nbsp;Покупатель может отказаться от оплаченной услуги, если она ему фактически не была оказана, при этом Продавец осуществляет возврат полученных от покупателя денежных средств.</p>
<p><strong>Срок действия Договора</strong></p>
<p>8.1. Настоящий Договор вступает в силу с момента обращения в Интернет-магазин и оформления Заказа, и заканчивается при полном исполнении обязательств Сторонами.</p>
<p><strong>Прочие условия</strong></p>
<p>9.1. Интернет-магазин оставляет за собой право расширять и сокращать товарное предложение Интернет-магазина, регулировать доступ к покупке любых Товаров, а также приостанавливать или прекращать продажу любых Товаров по своему собственному усмотрению.</p>
<p>&nbsp;</p>

        </p>
    </div>
</div>
{% endblock %}
