{% extends "base.html" %}

{% block title %}Успешная оплата - XBMC{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body text-center">
                <div class="alert alert-success">
                    <h3>Платёж успешно выполнен!</h3>
                    <p>Ваш баланс пополнен</p>
                </div>
                <a href="{{ url_for('main.index') }}" class="btn btn-primary">На главную</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
