{% extends "base.html" %}

{% block title %}Согласие на обработку персональных данных - Business database{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Согласие на обработку персональных данных</h2>
        <p class="text-muted">
<p>Я, cвоей волей и в своем интересе даю согласие на обработку, в том числе на сбор, систематизацию, накопление, хранение (уточнение, обновление, изменение), использование, передачу третьим лицам, обезличивание, блокирование и уничтожение моих персональных данных &ndash; фамилии, имени, отчества, даты рождения, пола, адреса регистрации или пребывания, номера контактного телефона, адреса электронной почты, Самозанятого Толстенева А.В., расположенному по адресу: 195176, Санкт-Петербург, Пискаревский пр-кт, д.25, лит.А, пом.17-Н (далее &ndash; &laquo;Продавец&raquo;), с целью предоставления мне товаров и услуг (продуктов), включая, но не ограничиваясь: идентификацией участника в программе лояльности, обеспечения процедуры начисления, учета и расходования бонусов, осуществление доставки, предоставление сервисных услуг, распространения информационных и рекламных сообщений (по SMS, электронной почте, телефону, иным средствам связи), получения обратной связи.</p>
<p>Настоящим, я также даю свое согласие на трансграничную передачу моих персональных данных, в том числе на территории иностранных государств, не включенных в перечень, утвержденный Приказом Роскомнадзора от 15.03.2013 N 274 (ред. от 29.10.2014) "Об утверждении перечня иностранных государств, не являющихся сторонами Конвенции Совета Европы о защите физических лиц при автоматизированной обработке персональных данных и обеспечивающих адекватную защиту прав субъектов персональных данных", для выполнения вышеуказанных целей обработки персональных данных.</p>
<p>Подтверждаю, что персональные данные и иные сведения, относящиеся ко мне (фамилия, имя, отчество, дата рождения, пол, адрес регистрации или пребывания, номер контактного телефона, адрес электронной почты) предоставлены мною Продавцу путем внесения их при регистрации на сайте businessdb.ru добровольно и являются достоверными. Я извещен о том, что в случае недостоверности предоставленных персональных и сведений Продавец оставляет за собой право прекратить обслуживание посредством сайта businessdb.ru.</p>
<p>Я согласен, что мои персональные данные будут обрабатываться способами, соответствующими целям обработки персональных данных, без возможности принятия решения на основании исключительно автоматизированной обработки моих персональных данных.</p>
<p>Согласие дается мной на 10 лет с момента регистрации на сайте businessdb.ru и до моего сведения доведено, что в том случае если я являюсь участником программы лояльности, мое согласие автоматически продлевается на срок моего участия в программе или на срок действия программы, а отзыв настоящего согласия будет автоматически прекращать мое участие в программе лояльности.</p>
<p>Настоящее согласие может быть отозвано мной в любой момент путем направления письменного требования в адрес Продавца. Адрес электронной почты Продавца: info@businessdb.ru</p>

       </p>
    </div>
</div>
{% endblock %}
