{% extends "base.html" %}

{% block title %}Поддержка - XBMC{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Поддержка - cdvks</h3>
                <p class="text-center">По всем вопросам обращайтесь к cdvks</p>

                <div class="mt-4">
                    <h5>Контакты:</h5>
                    <ul>
                        <li>Telegram: @cdvks</li>
                        <li>Email: support@xbmc.ru</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
