{% extends "base.html" %}

{% block title %}Пользовательское соглашение - Business database{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Пользовательское соглашение</h2>
        <p class="text-muted">
<ol>
<li style="text-align: left;"><strong>ОБЩИЕ ПОЛОЖЕНИЯ</strong>
<ul>
<li>Настоящее Пользовательское соглашение (далее &mdash; Соглашение) относится к интернет-сайту &laquo;Businessdb.ru&raquo;, расположенному по адресу https://businessdb.ru.</li>
<li>Настоящее Соглашение регулирует отношения между Администрацией сайта &laquo;Businessdb.ru.&raquo; (далее &mdash; Администрация сайта) и Пользователем данного Сайта.</li>
<li>Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя.</li>
<li>Использование Сайта Пользователем означает принятие Соглашения и изменений, внесенных в настоящее Соглашение.</li>
<li>Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие изменений в нем.</li>
<li>Все названия продуктов и игр, компаний, торговых марок, товарные знаки, логотипы и остальные материалы являются собственностью соответствующих владельцев.</li>
<li>Пользователь осознанно соглашается с условиями Соглашения с помощью сервисов сайта (проставлении галочки в соответствующем поле).</li>
</ul>
</li>
</ol>
<p>&nbsp;</p>
<ol start="2">
<li><strong>ОПРЕДЕЛЕНИЯ ТЕРМИНОВ</strong></li>
</ol>
<p>2.1. Перечисленные ниже термины имеют для целей настоящего Соглашения следующее значение:</p>
<ul>
<li>&laquo;Businessdb.ru&raquo; &mdash; Интернет-ресурс, расположенный на доменном имени https://businessdb.ru/, осуществляющий свою деятельность Администрацией сайта на правах собственности посредством Интернет-ресурса и сопутствующих ему сервисов (далее &mdash; Сайт).</li>
<li>&laquo;Businessdb.ru&raquo; &mdash; Сайт, содержащий информацию о Товарах и/или Услугах и/или Иных ценностях для пользователя, Продавце и/или Исполнителе услуг, позволяющий осуществить выбор, заказ и (или) приобретение Товара, и/или получение услуги.</li>
<li>Товар &ndash; лицензионные цифробуквенные ключи программного продукта или иные коды для активации программного обеспечения, сведения о котором содержатся на Сайте.</li>
<li>Пользователь сайта (далее &mdash; Пользователь) &ndash; дееспособное физическое лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт и все его сервисы.</li>
<li>Стороны &ndash; Пользователь и Администрация сайта.</li>
<li>Заказ &ndash; запрос Пользователя на получение Товара, оформленный в соответствии с требованиями Сайта.</li>
<li>Содержание сайта (далее &mdash; Содержание) &mdash; охраняемые результаты интеллектуальной деятельности, включая тексты литературных произведений, их названия, предисловия, аннотации, статьи, иллюстрации, обложки, музыкальные произведения с текстом или без текста, графические, текстовые, фотографические, производные, составные и иные произведения, пользовательские интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ, базы данных, а также дизайн, структура, выбор, координация, внешний вид, общий стиль и расположение данного Содержания, входящего в состав Сайта и другие объекты интеллектуальной собственности все вместе и/или по отдельности, содержащиеся на сайте https://businessdb.ru/</li>
</ul>
<p>&nbsp;</p>
<ol start="3">
<li><strong>ПРЕДМЕТ СОГЛАШЕНИЯ</strong></li>
</ol>
<p>3.1. Предметом настоящего Соглашения является предоставление Пользователю доступа к содержащимся на Сайте Товарам и/или оказываемым услугам.</p>
<p>3.2. Сайт предоставляет Пользователю следующие виды услуг (сервисов):</p>
<ul>
<li>доступ к электронному контенту с правом приобретения (скачивания), просмотра контента;</li>
<li>доступ к средствам поиска и навигации сайта;</li>
<li>предоставление Пользователю возможности размещения сообщений, комментариев, рецензий Пользователей, выставления оценок контенту сайта;</li>
<li>доступ к информации о Товаре и/или услуге к информации о приобретении Товара на платной/бесплатной основе;</li>
<li>доступ к другим сервисам Сайта.</li>
</ul>
<p>3.3. Под действие настоящего Соглашения подпадают все существующие (реально функционирующие) на данный момент услуги (сервисы) Сайта, а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги (сервисы).</p>
<p>3.4. Доступ к сайту предоставляется на бесплатной основе.</p>
<p>3.5. Настоящее Соглашение является публичной офертой. Получая доступ к Сайту, Пользователь считается присоединившимся к настоящему Соглашению.</p>
<p>3.6. Администрация Сайта на возмездной основе предоставляет возможность Пользователю использовать сервисы сайта для приобретения Товаров в личных интересах.</p>
<p>3.7. Любая информация, представленная на Сайте, носит справочный характер. Для уточнения свойств и характеристик Товара, Пользователь должен обратиться к Администрации сайта.</p>
<p>&nbsp;</p>
<ol start="4">
<li><strong>ПОРЯДОК ЗАКАЗА И ОПЛАТА ТОВАРА</strong></li>
</ol>
<p>4.1. Пользователь может приобрести любой Товар на Сайте, для этого Пользователь должен оформить Заказ (через корзину или с помощью &laquo;Купить в один клик&raquo; или оформить заказ или через онлайн-чат размещенный на сайте или корпоративную почту указанную на сайте в разделе &ldquo;Контакты&rdquo;</p>
<p>4.2. Доставка Товара осуществляется моментально после оплаты, за исключением редких случаев, которые сообщены в описании Товара на Сайте, когда доставка Товара осуществляется спустя некоторое время после оплаты, либо причин, по которым Заказ пользователя нуждается в дополнительной проверке Администрацией сайта. Список причин, по которым заказ отправляется на ручную обработку, определяется Администрацией сайта самостоятельно.</p>
<p>4.3. При оформлении Заказа Пользователь должен указать электронный адрес, на который будет доставлен Товар.</p>
<p>4.4. Актуальная цена указывается на последнем шаге оформления Заказа.</p>
<p>4.5. Товар оплачивается до его передачи Пользователю в полном объеме: денежными средствами, валютой, электронными средствами платежа, а также другими способами, представленными на Сайте.</p>
<p>4.6. При проведении оплаты может быть предусмотрена комиссия определенной платежной системы (банка, сотового оператора и т.п.). Данная комиссия оплачивается Пользователем.</p>
<p>&nbsp;</p>
<ol start="5">
<li><strong>ВОЗВРАТ ТОВАРА</strong></li>
</ol>
<p>5.1. Пользователь вправе отказаться от Заказа Товара до момента его оплаты.</p>
<p>5.2. Отказ от Товара после оплаты невозможен, поскольку лицензионные ключи (и иная форма товара) имеют индивидуально-определенные характеристики и не могут быть использованы после их активации повторно третьими лицами.</p>
<p>5.3. Если возврат денежных средств осуществляется в связи с невозможностью исполнения Администрацией сайта своих обязательств (обо всех нюансах можно прочитать на странице ГАРАНТИИ), то денежные средства возвращаются тем же способом, который был использован для оплаты, если иной способ возврата не предусмотрен на Сайте или не определен соглашением Сторон.</p>
<p>5.4. В случае возврата Товара Пользователем возвращается только та денежная сумма, которая уплачена за Товар. Из данной суммы могут быть удержаны расходы, связанные с комиссиями третьих лиц (платежными агрегаторами, агентами, банками, посредниками и т.п.) за передачу и(или) возврат денежных средств.</p>
<p>5.5. Пользователь соглашается с тем, что возврат денежных средств может осуществляться третьими лицами, действующими по поручению Администрации сайта, при этом Пользователь обязан принять исполнение, предложенное таким третьим лицом.</p>
<p>5.6. Заявка на возврат денежных средств принимается в течение первых 14 (четырнадцати) дней с момента покупки Товара. По истечении этого срока &ndash; заявки не принимаются и возврат денежных средств не производится.</p>
<p>&nbsp;</p>
<ol start="6">
<li><strong>ПРАВА НА ИСПОЛЬЗОВАНИЕ ТОВАРА</strong></li>
</ol>
<p>6.1. Права на использование Товара предоставляются Пользователю на основании неисключительной лицензии. Товар произведения не продается, а предоставляется Пользователю для использования на условиях, определенных настоящим разделом.</p>
<p>6.2. Если иное не следует из содержания лицензии, лицензия предоставляется на срок, установленный производителем, лицензиаром или Администрацией сайта.</p>
<p>6.3. Пользователь вправе использовать Товар только для личного, домашнего, семейного воспроизведения. Иные способы использования не допускаются.</p>
<p>6.4. Термин &laquo;продажа Товара&raquo; используется в тексте настоящего Договора исключительно для удобства. Данный термин должен пониматься как выдача ограниченного права на использование лицензии и не может расцениваться как отчуждение исключительного права на Товар.</p>
<p>6.5. Если иное не следует из содержания лицензии, то лицензия может быть использована только на территории стран СНГ.</p>
<p>&nbsp;</p>
<ol start="7">
<li><strong>ПРАВА И ОБЯЗАННОСТИ СТОРОН</strong></li>
</ol>
<p>7.1. Администрация сайта вправе:</p>
<ul>
<li>Изменять правила пользования Сайтом, а также изменять содержание данного Сайта. Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.</li>
<li>Переуступать и/или передавать свои права и обязанности, вытекающие из его отношений с Пользователем, третьим лицам.</li>
<li>Предоставлять Пользователю те или иные скидки, промо-коды, купоны, призы, а также вправе менять условия их получения и правила начисления в одностороннем порядке в любой момент.</li>
<li>Использовать отзывы Покупателей, размещенные на сайте, по своему усмотрению.</li>
<li>Использовать электронную почту Пользователя для оповещений рекламного и ознакомительного характера.</li>
<li>Информационную поддержку по активации программного обеспечения и иного цифрового продукта.</li>
</ul>
<p>7.2. Пользователь вправе:</p>
<ul>
<li>Пользоваться всеми имеющимися на Сайте услугами и сервисами, а также приобретать любые Товары и/или Услуги, предлагаемые на Сайте.</li>
<li>Задавать любые вопросы, относящиеся к услугам Сайта: по электронной почте <a href="mailto:support@rusoft.store">support@businessdb.ru</a>, через онлайн-чат на сайте, по номеру телефона указанным в разделе &laquo;Контакты&raquo;.</li>
<li>Требовать от администрации скрытия любой информации о пользователе.</li>
<li>Использовать информацию сайта для личных некоммерческих целей.</li>
</ul>
<p>7.3. Пользователь Сайта обязуется:</p>
<ul>
<li>Предоставлять по запросу Администрации сайта дополнительную информацию, которая имеет непосредственное отношение к предоставляемым услугам данного Сайта.</li>
<li>Ознакомиться с условиями доставки, оплаты Товара, характеристиками Товара, путем перехода по активным ссылкам на Сайте.</li>
<li>Использовать приобретенный Товар исключительно в личных целях, не связанных с осуществлением коммерческой деятельности.</li>
<li>Соблюдать имущественные и неимущественные права авторов и иных правообладателей при использовании Сайта.</li>
<li>Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сайта.</li>
<li>Не копировать материалы сайта без согласования с Администрацией сайта.</li>
<li>Не распространять с использованием Сайта любую конфиденциальную информацию.</li>
<li>Не использовать Сайт для распространения информации рекламного характера, иначе как с согласия Администрации сайта.</li>
</ul>
<p>7.4. Не использовать Сайт с целью:</p>
<ul>
<li>Нарушения прав несовершеннолетних лиц и (или) причинение им вреда в любой форме.</li>
<li>Ущемления прав меньшинств.</li>
<li>Представления себя за другого человека или представителя организации и (или) сообщества без достаточных на то прав, в том числе за сотрудников данного сайта.</li>
<li>Некорректного сравнения Товара и/или Услуги, а также формирования негативного отношения к лицам, (не) пользующимся определенными Товарами и/или услугами, или осуждения таких лиц.</li>
<li>Загрузки контента, который является незаконным, нарушает любые права третьих лиц; пропагандирует насилие, жестокость, ненависть и (или) дискриминацию по расовому, национальному, половому, религиозному, социальному признакам; содержит недостоверные сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов власти.</li>
</ul>
<p>7.5. Обеспечить достоверность предоставляемой информации.</p>
<p>7.6. Обеспечивать сохранность личных данных от доступа третьих лиц.</p>
<p>7.7. Обновлять Персональные данные, предоставленные при регистрации, в случае их изменения.</p>
<p>7.8. Пользователю запрещается:</p>
<ul>
<li>Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические устройства или эквивалентные ручные процессы для доступа, приобретения, копирования или отслеживания содержания Сайта.</li>
<li>Нарушать надлежащее функционирование Сайта.</li>
<li>Любым способом обходить навигационную структуру Сайта для получения или попытки получения любой информации, документов или материалов любыми средствами, которые специально не представлены сервисами данного Сайта.</li>
<li>Несанкционированный доступ к функциям Сайта, любым другим системам или сетям, относящимся к данному Сайту, а также к любым услугам, предлагаемым на Сайте.</li>
<li>Нарушать систему безопасности на Сайте или в любой сети, относящейся к Сайту.</li>
<li>Выполнять обратный поиск, отслеживать или пытаться отслеживать любую информацию о любом другом Пользователе Сайта.</li>
<li>Использовать Товар в коммерческих целях.</li>
</ul>
<p>&nbsp;</p>
<ol start="8">
<li><strong>ИСПОЛЬЗОВАНИЕ САЙТА</strong></li>
</ol>
<p>8.1. Сайт и Содержание, входящее в состав Сайта, принадлежит и управляется Администрацией сайта.</p>
<p>8.2. Пользователь несет персональную ответственность за сохранение конфиденциальности информации своих покупок, которые находятся на сайте https://businessdb.ru</p>
<p>8.3. Настоящее Соглашение распространяет свое действия на все дополнительные положения и условия о покупке Товара и/или оказанию услуг и сервисов, предоставляемых на Сайте.</p>
<p>8.4. Информация, размещаемая на Сайте, не должна истолковываться как изменение настоящего Соглашения.</p>
<p>8.5. Администрация сайта имеет право в любое время без уведомления Пользователя вносить изменения в перечень Товаров и услуг, предлагаемых на Сайте, и (или) их цен.</p>
<p>8.6. Администрация сайта не гарантирует, что Сайт будет работать беспрерывно и безошибочно. В случае наличия проблем с работоспособностью Сайта Администрация сайта обязуется устранить их в кратчайшие сроки.</p>
<p>&nbsp;</p>
<ol start="9">
<li><strong>ОТВЕТСТВЕННОСТЬ</strong></li>
</ol>
<p>9.1. Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящего Соглашения, а также вследствие несанкционированного доступа к коммуникациям другого Пользователя, Администрацией сайта не возмещаются.</p>
<p>9.2. Администрация сайта не несет ответственности за любые действия Пользователя в отношении Товара, в том числе за активацию Товара с помощью дополнительного непредусмотренного для этого программного обеспечения.</p>
<p>9.3. Администрация сайта не несет ответственности за здоровье Пользователя после использования Товара.</p>
<p>9.4. В случае возникновения ситуации у Пользователя с неработоспособностью ключа активации, Администрация сайта сделает всё возможное, чтобы решить эту ситуацию. При этом Пользователю нужно будет проделать все действия, которые потребует Администрации Сайта для разрешения данной ситуации.</p>
<p>9.5. Администрация сайта не несет ответственности, если у Пользователя нет технической возможности получения Товара, его активации, доступа к сайту, собственной электронной почте и другим сервисам, которые никак не связаны с Сайтом.</p>
<p>9.6. Администрация сайта не несет ответственности за любые технические проблемы программного обеспечения. За это несет ответственность издатель и/или разработчик.</p>
<p>9.7. Администрация сайта не несет ответственности за:</p>
<ul>
<li>Задержки или сбои в процессе совершения операции, возникшие вследствие непреодолимой силы, любых природных катаклизмов, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.</li>
<li>Действия систем переводов, банков, платежных систем и за задержки, связанные с их работой.</li>
<li>Надлежащее функционирование Сайта, в случае, если Пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами.</li>
<li>Ни одна из Сторон не несет ответственности перед другой Стороной за задержку, невыполнение обязательств, обусловленных обстоятельствами, возникшими помимо воли и желания Сторон, и которые нельзя предвидеть или избежать, включая объявленную или фактическую войну, гражданские волнения, эпидемии, блокаду, эмбарго, землетрясения, наводнения, пожары и другие стихийные бедствия.</li>
<li>Если обстоятельства непреодолимой силы действуют на протяжении шести последовательных месяцев и не обнаруживают признаков прекращения, то настоящее Соглашение может быть расторгнуто любой из Сторон путем направления уведомления другой Стороны и считается расторгнутым с момента получения уведомления.</li>
</ul>
<p>&nbsp;</p>
<ol start="10">
<li><strong>НАРУШЕНИЕ УСЛОВИЙ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ</strong></li>
</ol>
<p>10.1. Администрация сайта вправе без предварительного уведомления Пользователя прекратить и (или) заблокировать доступ к Сайту, если Пользователь нарушил настоящее Соглашение или содержащиеся в иных документах условия пользования Сайтом, а также в случае прекращения действия Сайта либо по причине технической неполадки или проблемы.</p>
<p>10.2. Администрация сайта не несет ответственности перед Пользователем или третьими лицами за прекращение доступа к Сайту в случае нарушения Пользователем любого положения настоящего Соглашения или иного документа, содержащего условия пользования Сайтом.</p>
<p>&nbsp;</p>
<ol start="11">
<li><strong>КОНФИДЕНЦИАЛЬНОСТЬ</strong></li>
</ol>
<p>11.1. Любая персональная информация, переданная Сторонами друг другу, является конфиденциальной информацией.</p>
<p>11.2. Пользователь даёт согласие Администрации сайта на сбор, обработку и хранение своих личных персональных данных двух видов: информацию, которую пользователь сознательно раскрыл Администрации сайта в целях пользования ресурсами Сайта, а также техническую информацию, автоматически собираемую программным обеспечением Сайта во время его посещения.</p>
<p>11.3. Пользователь соглашается с условиями, целями и порядком обработки персональных данных на условиях Политики в области обработки персональных данных, а также даёт своё Согласие на обработку персональных данных.</p>
<p>&nbsp;</p>
<ol start="12">
<li><strong>ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</strong></li>
</ol>
<p>12.1. Любые споры обе стороны решают путем переговоров.</p>
<p>12.2. Администрация сайта не принимает встречные предложения от Пользователя относительно изменений настоящего Пользовательского соглашения.</p>
<p>12.3. Администрация сайта не несет ответственности за возможный ущерб третьим лицам, нанесенный с использованием сайта и его сервисов.</p>
<p>12.4. Заключая настоящее Соглашение, Пользователь гарантирует, что он обладает полной правоспособностью и дееспособностью, и имеет право заключать настоящее Соглашение.</p>
<p>12.5. Стороны обязуются сообщать друг другу о любом факте несанкционированного разглашения информации третьим лицам.</p>
<p>12.6. Исключительное право на Сайт принадлежит Администрации сайта.</p>
<p>12.7. Исключительные права на Товар принадлежат их правообладателем.</p>
<p>12.8. Действующее Соглашение размещено на странице Сайта по адресу: https://businessdb.ru/agreement</p>
<p>12.9. Неотъемлемыми частями настоящего Соглашения, которые Пользователь безоговорочно принимает при заключении Соглашения, являются:</p>
<ul>
<li>Согласие на обработку персональных данных, размещенное на Сайте по адресу: https://businessdb.ru/privacy</li>
<li>Политика в области обработки персональных данных, размещенное на Сайте по адресу: https://businessdb.ru/privacy</li>
</ul>
<p>&nbsp;</p>
<p>Обновлено: 13 октября 2025 г</p>
<p>&nbsp;</p>
        </p>
    </div>
</div>
{% endblock %}
